body {
  height: 3000px;
  background-image: url(https://i.imgur.com/VQpAvgO.jpg);
  margin: 10;
}
.contenedor{
  display: grid;
  grid-template-rows: 20% 80%;
  align-items: flex-start;
  text-align: start;
  color: rgb(0, 0, 0)
  
}
.nav {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(13, 209, 223);
}

.hero {
  grid-row: hero;
}

.portafolio {
  grid-row: portafolio;
}

.Acerca {
  grid-row: Acerca;
}

.habilidades {
  grid-row: habilidades;
}

.info {
  grid-row: info;
}

.nav:hover {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1em 1em;
}

#twist {
  color: blue;
}